//====== BOUTTON  FONCTIONNEMENT ACCEUIL =======

@mixin button {
    height: 48px;
    border: none;
    border-radius: 20px;
    padding-left: 2rem;
    position: relative;
    display: flex;
    align-items: center;
  
.numberCircle{
    font: 16px $texte;
    width: 2em;
    height: 2em;
    box-sizing: initial;
    background:$primaire;
    border: 0.1em solid;
    color: #fff;
    text-align: center;
    border-radius: 50%;    
    line-height: 2em;  
    box-sizing: content-box;  
    position: absolute;
    left: -1rem; 
    top: 0.5em;
        
}

}
// ======== IMAGES DES RESTAURANTS ACCEUIL ============

@mixin resto{
    background-color: #fff;
    height:250px;
    width:300px ;
    border-radius: 15px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    padding:3px;
    position:relative;
    top: 3rem;
    margin-bottom: 2rem;
    .resto img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 15px;
    }

i.far{
        position: absolute;
        left: 16rem;
        bottom: 1rem;
        color: black;

    
}

    
}
@mixin resto1 {
    background-color: #fff;
    height: 200px;;
    width:294px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    margin-left: 1rem;
    z-index: -1;

    >img{
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
}

//  ========== HEADER DE TOUS LES MENUS ===============

@mixin entete{
    .header-logo{ 
     display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
 @extend %titre-logo;
    }
    
    .plat{
        @include resto1;
        left: 6.5rem;
        top: 1rem;
    }
       
    .retour{
        color: black;
        font-size: 18px;
       

    }
    
}
// ==========  MENUS DES TOUS LES  RESTAURANTS =======
@mixin main-menu {
    .menu-box{
       
        position: relative;
        left: 0.5rem;
        font-family: $texte;
        background-color: #fff;
        margin-top: -4rem;
        padding-left: 0rem;
        height:1200px;
        width:300px ;
        border-radius:40px 40px 0 0 ;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        transition: box-shadow 0.2s;
    }
        .menu-label{
            font-family: $titre;
            font-size: 22px;
            padding-top: 1rem;
            }
            .entrer-titre::after{
                content: "";
                border-bottom: 2px solid #99e2d0;
                display: block;
                padding-top: 3px;
                width: 40px;
                    }        
        
        .menu-titre i.far{
            position: absolute;
            left: 16rem;
            top: 1.2rem;
        }
        .prix{                
            
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: left 1s, transform 1s;
            white-space: nowrap;
            }
            .prix:hover{
            left: 100%;
            transform: translateX(-100%);
            }
            .menu-label{
                font-family: $titre;
                font-size: 22px;
                padding-top: 1rem;
            }
        .container-menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width:auto ;
    height: 56px;
    line-height: 0.5;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    
    border-radius: 10px;
    padding: 0 1rem 0 0.5rem;
    margin: 2.5rem 0.5rem 0 0.5rem;

        }
.spe{
    @extend %text-overflow; 
}    
        .menu-entrer {
            margin: 0.5rem 0 0 1rem;
        }    
        
        .commander-btn{
            @include boutton-commander;
         }
         
    

}
//  =======BOUTTON COMMANDER DE TOUS LES RESTAURANTS  ========

@mixin boutton-commander{
    position: absolute;
    border: none;
    top: 70.8rem;
    left: 3rem;
    width: 185px;
    height: 50px;
    border-radius:40px;
    font-size: 18px;
    font-family: $texte;
    color:#fff;
    background:$degrader;

}

@mixin desktop-only {
    @media only screen and (min-width: 1024px) {
      @content;
    }
}
// ========= REMPLISSAGE DU COEUR AU PASSAGE SURIS  ===========

@mixin heart-animation{
.fa-heart{
    position: relative;
    border-radius: 50%;
    font-size: 24px;
}
    .fa-heart::after {
        color:transparent;
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
        position: absolute;
        font-size: 30px;
        top: -0.1em;
        right: -0.1em;
    }
        .fa-heart:hover::after{
        color:$secondaire;
        cursor: pointer;
        }
    }

    