//====== BOUTTON  FONCTIONNEMENT ACCEUIL =======

@mixin button {
    height: 42px;
    width: 250px;
    border: none;
    border-radius: 15px;
    position: relative;
    padding-left: 2rem;
.numberCircle{
    font: 32px $texte, sans-serif;
        width: 2em;
        height: 2em;
        box-sizing: initial;
        background:$primaire;
        border: 0.1em solid;
        color: #fff;
        text-align: center;
        border-radius: 50%;    
        line-height: 2em;  
        box-sizing: content-box;  
        position: absolute;
        left: -1rem; 
        top: 0.4em;
}

}
// ======== IMAGES DES RESTAURANTS ACCEUIL ============

@mixin menu{
    background-color: #fff;
    margin-top: 25px;
    height:250px;
    width:300px ;
    border-radius: 15px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    padding:3px;
    position:relative;
i.far{
        position: absolute;
        left: 16rem;
        bottom: 2rem;
        color: black;

    
}

    
}
@mixin plat {
    background-color: #fff;
    margin-top: 2rem;
    margin-left: -1.5rem;
    height:250px;
    width:400px ;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    position:absolute;
    z-index: -1;
    >img{
        object-fit: cover;
        height: auto;
        width: auto;
    }
}

//  ========== HEADER DE TOUS LES MENUS ===============

@mixin entete{
    .header-logo{
        @extend %titre-logo;
        .logo{
            position: absolute;
            left: 12rem;
        }
    &-retour{
        color: black;
        font-size: 18px;
        position:absolute;
        top: 2.3rem;
        left: 9rem;
    &-plat{
        @include plat;
        position: absolute;
        left: 8rem;
        top: 3rem;
    }
    }
    }
}

// ==========  MENUS DES TOUS LES  RESTAURANTS =======
@mixin main-menu {
    .menu-box{
        @extend %flex-center;
        position: absolute;
        top: 20rem;
        left: 10rem;
        font-family: $texte;
        background-color: #fff;
        margin-top: -2rem;
        margin-left: -3.5rem;
        height:1360px;
        width:400px ;
        border-radius:40px 40px 0 0 ;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        transition: box-shadow 0.2s;
        .menu-label{
            font-family: $titre;
            font-size: 24px;
            position: absolute;
            left: 2rem;
            top: 1rem;
        }
        .menu-titre i.far{
            position: absolute;
            left: 20rem;
            top: 2.5rem;
        }
        .container-menu{
            background-color: rgba(255, 255, 255, 0.164);
            margin-top: 25px;
            height:60px;
            width:350px ;
            border-radius: 15px;
            box-shadow: 0 0 6px 3px #b1b1b14b;
            transition: box-shadow 0.2s;
            padding:0.8rem;
            position:relative;
            line-height: 0.5rem;
        }
        .prix{
            position: absolute;
            left: 20rem;
            margin-top: -1.4rem;
             
        }
        .commander-btn{
            @include boutton-commander;
         }
         
    }
}

//  =======BOUTTON COMMANDER DE TOUS LES RESTAURANTS  ========

@mixin boutton-commander{
    position: absolute;
    border: none;
    top: 80.8rem;
    left: 5rem;
    width: 235px;
    height: 65px;
    border-radius:40px;
    font-size: 18px;
    font-family: $texte;
    color:#fff;
    background:$degrader;

}