//  ====== PARAGRAPHE P  ========

%paragraphe {
    font-family: $texte;
    font-weight: 300;
    font-size: 13px;
    color: black;
}
 //  ======== BODY  HTML  ========

 %marge-principale{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
//  ======= h2 =============
%titre2{
    font-family: $texte;
    font-size: 15px;
    font-weight: 500;
}
 //  =======LOGO ACCEUIL ========

%titre-logo{
    font-family: $titre;
    font-size: 18px;
   text-align: center;
    left: 12rem;
   
}
//  ====== DISPLAY FLEX  ==========

%flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//  ======== FOOTER DE TOUS LES PAGES ======

%pied-page {

    .piedlogo{
        font-family: $titre;
        font-size: 14px;
        margin-top: 0;
        font-weight: 100;
    }
    
    .pied{
        background-color:#251f1f; 
        font-family: $texte;
        position: relative;
        height: 80%;
        width:100%;
        color: #fff;
        padding: 0rem;
        text-align: center;
    }
    .proposer{
        font-family: $texte;
        font-size: 14px;
    }
    .partenaire{
        color: #fff;
        font-family: $texte;
        font-size: 14px;
    }
        i.fa{
                transform:rotate(-45deg)
            }
        .legale{
            color: #fff;
            font-family: $texte;
            font-size: 14px;
        }
        .contact {
          
            font-family: $texte;
            font-size: 14px;
        }
            a{
                text-decoration: none;
                color: #fff;
            }
        }

%text-overflow {
            overflow:-moz-hidden-unscrollable;
            text-overflow: ellipsis;
            white-space: nowrap;
          }




