//  ====== PARAGRAPHE P  ========

%paragraphe {
    font-family: $texte;
    font-weight: 300;
    font-size: 13px;
    color: black;
}
 //  ======== BODY  HTML  ========

 %marge-principale{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
//  ======= h2 =============
%titre2{
    font-family: $texte;
    font-size: 15px;
    font-weight: 500;
}
 //  =======LOGO ACCEUIL ========

%titre-logo{
    font-family: $titre;
    font-size: 18px;
   text-align: center;
    left: 12rem;
   
}
//  ====== DISPLAY FLEX  ==========

%flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


 // ======= TEXTE OVERFLOW =========
%text-overflow {
            
            text-overflow: ellipsis;
            white-space: nowrap;
          }


  

