// Principales
$primaire : #9356DC;
$secondaire:#ff79da;
$tertiaire:#99E2D0;
$fond-button:#8c2d96b5;
$degrader:linear-gradient(#ea6fa2b5,#9356DC);


//  utilitaires  couleurs
$fond-clair:#ece6e64f;
$fond-sombre:#bdb8b84f;
$colour:darken($primaire,9%);
$light:lighten($primaire,36%);
$tertiaireB:darken($tertiaire,20%);



//  textes
$texte:'roboto', sans-serif;
$titre:'Shrikhand', cursive;






//  Utilitaire Position / Dimensions

$radus-btn:5px;
$padding-txt:10px