
@import './_variables';
@import './_mixins';
@import './_placeholders';
@import './_animation';
body,html{
width: 100%;
font-family: $texte;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
margin-left:0;
padding: 0;
   
}
p{
    @extend %paragraphe;
    @extend %text-overflow;
}
h2{
    @extend %titre2;
    @extend %text-overflow;
}
h1{
   font-family: $titre;
   font-size: 24px; 
   font-weight: 300;
   margin-left: 1rem;
}
h3{
font-family: $texte;
font-weight: 100;
font-size: 14px;
}
h4{
    font-family: $texte;
    font-size: 16px;
    font-weight: 100;

}
 // =============== EN TÊTE DES PAGES MENUS  ===========
header{
    
@include entete;
width: auto;
height:40%;
}

 // ============== MAIN DES PAGES  MENUS ===============

main{
    .menu-box{
        font-family: $texte;
        background-color: #fff;
        margin:-4rem 0rem 0 0.1rem;
        padding-right: 0.2rem;
        height:auto;
        width:100vw;
        border-radius:40px 40px 0 0 ;
        box-shadow: 0 0 6px 3px #b1b1b14b;
        transition: box-shadow 0.2s;
    }
        .menu-titre{
            font-family: $titre;
            font-size: 22px;
            padding-top: 1rem;
            display: flex;
            align-items: center;
            margin-left: 0rem;
            }
            .menu-name{
                margin: 1rem 1rem 0rem 1.2rem;
                padding-right: 12rem;               
            }
            .menu-name::after{
                content: "";
                border-bottom: 2px solid #99e2d0;
                display: block;
                width: 40px;
                margin-top: -1rem;
                    }     
        .menu-titre i.fa-heart{    
            margin-left: 3rem; 
        }   
    .container-menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width:85% ;
    height: 60px;
    line-height: 0.8;
    box-shadow: 0 0 6px 3px #b1b1b14b;    
    border-radius: 10px;
    padding: 0 1rem 0 0.5rem;
    margin: 1rem 0.5rem 0 1rem;
 }
 .menu-label{
     width: 75%;
 }
        .menu-label,p,h2{
            white-space: nowrap;
            overflow:inherit;
            text-overflow: ellipsis;
            line-height: 1rem;
        }
       
.prix{
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    min-width: 35px;
}
 .menu-bloc {
@extend %flex-center;
        }  
.commander-btn{
 @include boutton-commander;
 }       
    

}

 
 

//  =============  PIED DES PAGES MENUS  ============

footer{
    @include pied-page;
    width: 100%;
    height:73px;
    padding-left: .6rem;
    
}

// ========== BOUTTON COMMANDER DES PAGES MENUS =========

button:hover{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    opacity: 0.7;

}
.fa-heart{
    
    border-radius: 50%;
    font-size: 24px;
    margin-left: 6rem;
}
    .fa-heart::after {
        color:transparent;
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
        font-size: 30px;
        margin-left: -1.7rem;
        
    }
        .fa-heart:hover::after{
        color:$primaire;
        cursor: pointer;
        } 
        // ================  MEDIA  QUERIES  TABLETTES =========
        @media screen and (min-width: 576px) {
            main{
                .menu-titre{
                    margin-left: 1rem;
                }
                .menu-titre i.fa-heart {
                    margin-left: 30rem;
            }
            .menu-name{
                margin-left:3.1rem;
            }
            .container-menu{
                margin-left: 3rem;
            }
           
            }
            .pied{
                text-align: center;
        }    
    }
      
      
        @media screen and (min-width: 769px){
            header{
                font-size: 18px;
                .plat {
                    width: 100vw;
                    height: 300px;
                    object-fit: cover;
                }
                .retour{
                  margin-left: 1rem;  
                  
                }
            }
            main{
            font-size: 16px;
            width: 100%;
                
            .menu-box{
        width:100%;  
            }
       
           .commander-btn{
               top: 70.8rem;
               left: 13rem;
           }
           .menu-titre i.far{
            margin-left: 44rem;
           }
        }
        .container-menu{
            height: 70px;
        }
        .pied{
            text-align: center;
        }
    }


            
            
 // =============== MEDIA DESKTOP ==========
        

@media screen and (min-width: 1025px){

    h1{
        font-size: 32px;
    }
    h2{
        font-size: 15px;
        overflow:visible;
    }
    p{
        font-size: 16px;
    }
    header{
        font-size: 18px;
        .plat {
            width: 100vw;
            height: 320px;
            object-fit: cover;
        }
    
    }
    main{
    font-size: 18px;
    width: 100%;
        
    .menu-box{
    width: 100%;  
    }

   .commander-btn{
       top: 70.8rem;
       left: 28rem;
   }
   .menu-titre i.far{
       margin-left: 60rem;  
}
.fa-heart::after{
    margin-left:-1.7rem;
}
}
footer{
    text-align: center;
    height: 100px;
}
}

// ========== ANIMATION PRIX MENU  ===============
.checkbox{    
    height: 100%;
    width: 20%;
    border:  none;
    background-color: #99e2d0;
    margin-right: -1rem;
    border-radius: 0px 10px 10px 0;
    display:none ;
}

 
.container-menu{
    cursor: pointer;
    overflow: hidden;
         
    }
.container-menu .checkbox{
        transition:0.5s ;
        
    }  
    
.container-menu:hover .checkbox{
display: block;
animation: slidebox 1s linear;
}
.btn-circle {
    color: #fff;
    font-size: 26px;
    margin: 1rem 1rem 1rem 1rem;  
    transform:rotate(360deg);
         
  

}  
.container-menu:hover .btn-circle {   
 
    animation: spin ease-in-out  .8s ;
  
    
   }
 
 @keyframes slidebox{
    0% {
        transform: translate(50px, 0);
      }
    
    50%{  transform: translate(25px, 0);
    }
    
      100% {
        transform: translate(1px, 0);
      }
    }
    
    
    

    
    @keyframes spin { 
        0% {
            transform: rotate(0deg);
          }
        
          25% {
            transform: rotate(90deg) ;
          }
        
          50% {
            transform: rotate(180deg) ;
          }
        
          75% {
            transform: rotate(270deg) ;
    
          }
          100% {
            transform: rotate(360deg) ;
          }
        }
        //  ================= ANIMATION MENU  =============
       .container-menu{
        @extend %animation-menu;
      }
