@media screen and (max-width: 425px){}
@import './_variables';
@import './_mixins';
@import './_placeholders';
body,html{
    @extend %marge-principale;
}
p{
    @extend %paragraphe;
}
h2{
    @extend %titre2;
}

header{
    @include entete;
}

main{
    @include main-menu;
}

footer{
    @extend %pied-page;
    position: absolute;
    top: 96rem;
    left: 4.5rem;
}