@media screen and (max-width: 425px){}
@import './_variables';
@import './_mixins';
@import './_placeholders';
body,html{
    @extend %marge-principale;
}
p{
    @extend %paragraphe;
}
h2{
    @extend %titre2;
}

 // =============== EN TÊTE DES PAGES MENUS  ===========
header{
    @include entete;
}

 // ============== MAIN DES PAGES  MENUS ===============

main{
    @include main-menu;
}


//  =============  PIED DES PAGES MENUS  ============

footer{
    @extend %pied-page;
    position: absolute;
    top: 101rem;
    left:4.5rem;
}

// ========== BOUTTON COMMANDER DES PAGES MENUS =========

button:hover{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    opacity: 0.7;
}