@media screen and (max-width: 425px){}
@import './_variables';
@import './_mixins';
@import './_placeholders';


body,html{
    margin: 0;
    padding-right: 2rem;
    box-sizing: border-box;
}
h2{
    font-family: $texte;
    font-size: 18px;
}
p {
    font-family: $texte;
    font-weight: 300;
    font-size: 15px;
    color: black;
}
header{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.headerlogo{
    font-family: $titre;
    font-size: 16px;
    text-align: center;
    margin-left: -1rem;

}
.paris{
    font-size: 13px;
    position: absolute;
    left: 7.5rem;
}
    
.siteheader{
    background-color:$fond-sombre;
    height: 400px;
    width: 300px;
    text-align: center;
    &-ville{
        background-color:$fond-clair;
        height: 40px;
        width: 300px;
        position: relative;
        font-family: $texte;
        font-size: 13px;
       
        
    >i.fas{
        position: absolute;
        left: 6rem;
        top: 0.8rem;
        
    }
    &-titre{
        
        align-items: center;
        font-family: $texte;
        font-size: 12px;
        line-height: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        
    &-titre2{
        font-family: $texte;
        font-size: 12px;
        line-height: 1rem;
        margin-left: 2rem;
    >button{
        height: 40px;
        width: 200px;
        border: none;
        border-radius:20px;
        background-color:#bd44cc;
    &.headerexplorer{
         color: #fff;
     }
    }
    }
        
    }
    }
}


button i{
    position: absolute;
    left: 2rem;
    top: 0.5em; 
    color: $primaire;
          
}

.choix{
text-align: center;
    &-restaurant{
        margin-bottom: 1rem;
        @include button;
        
    &-menu{
        margin-bottom: 1rem;
        @include button;
    &-deguste{
        margin-bottom: 1rem;
        @include button;
        background-color: $light;
    }

    }
    }

}
.choixlabel{
    margin-right:10rem;
}
.restolabel{
    margin-right: 13rem;
    margin-bottom: -1rem;
}

.restaurant{
    @extend %flex-center;
    position: relative;
   margin-left: 2rem;
    &-pallette{
        margin-bottom: 1rem;
        @include menu;
    &-charonne{
        margin-bottom: 1rem;
        @include menu;
    &-cite{
        @include menu;
    &-folie{
        @include menu;
        }
    }

    }
    }
}
a:link{
    text-decoration: none;
}
.text{
    color: black;
}
.menu img {
    object-fit: cover;
    height: 70%;
    width: 300px;
    border-radius: 15px;
}
.resto{
    font-family: $texte;
    margin-top: -0.5rem;
}


.button-nouveau{
    position: absolute;
    background-color: $tertiaire;
    top: 1rem; 
    right: 1rem;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-family: $texte;
    font-size: 15px;
    color: #45675e;
    font-weight: bold;
    
}
footer{
@extend %pied-page;
}

