p {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: black;
}

h2 {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.headerlogo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  text-align: center;
  left: 12rem;
}

header, .restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siteheader .ville {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
  animation: loaderanimation 5s 1 ease-in-out both;
}

@keyframes loaderanimation {
  0% {
    visibility: visible;
    opacity: 1;
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader .loader-logo {
  color: #ff79da;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  margin-bottom: 150px;
  animation: flash 1.2s 5 ease-in-out both;
}

@keyframes flash {
  0% {
    visibility: visible;
    opacity: 1;
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #ff79da;
    text-shadow: none;
    visibility: visible;
    opacity: 0;
  }
  100% {
    color: #8c2d96b5;
    text-shadow: 0 0 7px #8c2d96b5;
    opacity: 0;
    visibility: hidden;
  }
}

.loader .loader::after {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: -1;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  75% {
    opacity: 1;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

body, html {
  width: 100vw;
  height: 100vh;
  margin-left: 0rem;
}

.acceuil {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.loader-logo h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.siteheader {
  background-color: #ece6e64f;
  height: auto;
  width: 100vw;
  text-align: center;
  padding-bottom: 1rem;
}

.siteheader .ville {
  background: #bdb8b84f;
  font-family: "roboto", sans-serif;
  width: auto;
}

.siteheader .ville p {
  margin-top: 1rem;
  margin-left: 1rem;
}

.siteheader .ville i.fas {
  margin-left: 1rem;
}

.siteheader button {
  height: 40px;
  width: 12rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(#ea6fa2b5, #9356DC);
}

.siteheader .headerexplorer {
  color: #fff;
}

button i {
  position: absolute;
  left: 2rem;
  top: 0.9rem;
  color: #9356DC;
}

button:hover {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.choix {
  text-align: center;
  padding: 0 2rem;
}

.choix h2 {
  text-align: left;
}

.choix-restaurant {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  height: 48px;
  border: none;
  border-radius: 20px;
  padding-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.choix-restaurant .numberCircle {
  font: 16px "roboto", sans-serif;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: #9356DC;
  border: 0.1em solid;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  position: absolute;
  left: -1rem;
  top: 0.5em;
}

.choix-restaurant:hover {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #e4d5f6;
}

.choix-restaurant h2 {
  font-size: 13px;
}

.choix-restaurant i.fas {
  color: #9356DC;
  margin-right: 0.5rem;
}

.restolabel {
  align-self: flex-start;
}

.restaurant {
  background-color: #ece6e64f;
  position: relative;
  padding: 2rem;
}

.fonction h2 {
  margin-left: 0rem;
}

.restaurant-box {
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 2rem 0rem 0 0;
  height: 250px;
  width: 100%;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  position: relative;
  border-radius: 15px;
}

.restaurant-box .resto {
  font-family: "roboto", sans-serif;
  margin-top: -0.5rem;
}

.restaurant-box img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.restaurant-box i.fa-heart {
  margin: 1rem -2rem 0 0;
  color: black;
}

.restaurant-box i.fa-heart .fa-heart {
  position: relative;
  border-radius: 50%;
  font-size: 24px;
}

.restaurant-box i.fa-heart .fa-heart::after {
  color: transparent;
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
  position: absolute;
  font-size: 30px;
  top: -0.1em;
  right: -0.1em;
}

.restaurant-box i.fa-heart .fa-heart:hover::after {
  color: #ff79da;
  cursor: pointer;
}

.restaurant-box .resto-name {
  display: flex;
  justify-content: space-around;
  line-height: 0.5rem;
  margin-left: -2.5rem;
}

.restaurant-box .text {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: black;
}

.restaurant-box .nouveau {
  position: absolute;
  background-color: #99E2D0;
  top: 2rem;
  right: 1rem;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: #45675e;
  font-weight: bold;
}

.restaurant-box .nouveau h2 {
  text-align: center;
  margin-top: 0.6rem;
}

footer .piedlogo {
  font-family: "Shrikhand", cursive;
  font-size: 14px;
  margin-top: 0;
  font-weight: 100;
}

footer .pied {
  background-color: #251f1f;
  font-family: "roboto", sans-serif;
  position: relative;
  height: 80%;
  width: 100%;
  color: #fff;
  padding: 0rem;
  text-align: center;
}

footer .proposer {
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .partenaire {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer i.fa {
  transform: rotate(-45deg);
}

footer .legale {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .contact {
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.fa-heart {
  position: relative;
  border-radius: 50%;
  font-size: 24px;
}

.fa-heart::after {
  color: transparent;
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
  position: absolute;
  font-size: 30px;
  top: -0.1em;
  right: -0.1em;
}

.fa-heart:hover::after {
  color: #9356DC;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  main {
    font-size: 16px;
  }
  main .choix {
    margin-left: 12rem;
  }
  main .choix-restaurant {
    margin-left: 3rem;
    width: 180px;
    margin-top: 2rem;
    margin-right: 5rem;
  }
  main .fonction {
    margin-left: 20.5rem;
  }
  main .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 0rem;
  }
  main .restolabel {
    position: absolute;
    font-size: 22px;
    top: 0rem;
  }
  main .restaurant-box {
    width: auto;
    margin: 1rem 0rem 0rem 2rem;
  }
  main .restaurant-box i.fa-heart {
    position: absolute;
    left: 34rem;
  }
}

@media screen and (min-width: 769px) {
  main {
    font-size: 16px;
  }
  main .choix {
    display: inline-flex;
    margin-left: 2rem;
  }
  main .choix-restaurant {
    margin-left: 1rem;
    width: 180px;
    margin-top: 2rem;
    margin-right: 5rem;
  }
  main .fonction {
    margin-left: 27rem;
  }
  main .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 0rem;
  }
  main .restolabel {
    position: absolute;
    font-size: 22px;
    top: 0rem;
  }
  main .restaurant-box {
    margin: 1rem 3rem 0rem 2rem;
  }
  main .restaurant-box i.fa-heart {
    left: 50rem;
  }
  main .text {
    margin-right: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  body, html {
    font-size: 24px;
    height: 100vh;
  }
  .choix {
    padding-left: 6rem;
  }
  .choix-restaurant {
    margin-right: 5rem;
    width: 250px;
  }
  .restaurant {
    background-color: #ece6e64f;
    margin-left: 0rem;
  }
  .restaurant-box {
    margin-left: 0rem;
  }
  .fonction h2 {
    margin-left: 0rem;
  }
}
/*# sourceMappingURL=styles.css.map */