
    

@import './_variables';
@import './_mixins';
@import './_placeholders';


body,html{
@extend %marge-principale;

}
h2{
@extend %titre2;
}
p {
@extend %paragraphe;
}
header{

@extend %flex-center;
    
}
.headerlogo{
@extend %titre-logo;

}
 //  ===========  EN TÊTE DE LA PAGE D' ACCEUIL  =============

.siteheader{
    background-color:$fond-clair;
    height: auto;
    width: 100%;
    text-align: center;
    

.ville{
        background:$fond-sombre;       
            font-family: $texte;
            width: auto;
            @extend %flex-center;
    }
.ville p{
    margin-top: 1rem;
    position: relative;

}

i.fas{
        position: absolute;
        left: 9rem;
        top: 4rem;
        left: 8rem;
        
    }

    
    button{
        height: 40px;
        width: 200px;
        border: none;
        border-radius:20px;
        background:$degrader;
    }
 

.headerexplorer{
         color: #fff;
}
}
button i{
    position: absolute;
    left: 2rem;
    top: 0.9rem;
    color: $primaire;
          
}
button:hover{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    opacity: 0.7;
}


//  ======== CHOIX DES RESTAURANTS  ==============
.choix{
text-align: center;
}
.choix-restaurant{
box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.5);
 margin-bottom: 1rem;
@include button;
      }
      .choix-restaurant:hover{
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        background-color: $light;
      }
      .choix-restaurant h2{
          font-size: 13px;
          position: absolute;
          left: 5rem;
          top: 0.3rem;
      }
      i.fas{
          position: absolute;
          left: 3rem;
          top: 0.9rem;
          color: $primaire;
    }
.restolabel{
    margin-right: 13rem;
    margin-bottom: -1rem;
}

.restaurant{
    background-color:$fond-clair;
    @extend %flex-center;
    position: relative;
}

//  ========== IMAGES DES RESTAURANTS A L'ACCEUIL  ===========

.restaurant-box {
    background-color: #fff;
    margin-top: 2rem;
    margin-left: -1.5rem;
    height:250px;
    width:300px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    position:relative; 
    border-radius: 15px;

    .resto{
        font-family: $texte;
        margin-top: -0.5rem;
    }
                       
        img{
        object-fit: cover;
        height: 70%;
        width: 100%;
        position: absolute;    
        border-radius: 15px 15px 0 0;
    }
    i.fa-heart{
        position: absolute;
        left: 16rem;
        bottom: 1.5rem;
        color: black;   
        }
        .text{
            position: absolute;
            top: 11rem;
            left: 1rem;
            color: black;
        }
        .resto-name{
            position: absolute;
            top: 12.5rem;
            left: 1rem;
        }
    
.nouveau{
    position: absolute;
    background-color: $tertiaire;
    top: 2rem; 
    right: 1rem;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-family: $texte;
    font-size: 15px;
    color: #45675e;
    font-weight: bold;
  h2{
     text-align: center;
     margin-top:0.6rem;
  }
 }   
  
 // ====  PIED DE PAGES ==================

}
footer{
@extend %pied-page;
position: absolute;
top: 115rem;
left: 4rem;
}

//  ==== REMPLISSAGE DU  COEUR AU PASAGE DU SOURIS  ====

.fa-heart{
    position: relative;
    border-radius: 50%;
    font-size: 24px;
}
    .fa-heart::after {
        color:transparent;
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
        position: absolute;
        font-size: 30px;
        top: -0.1em;
        right: -0.1em;
    }
        .fa-heart:hover::after{
        color:$secondaire;
        cursor: pointer;
        }
        