footer .container, .restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container {
  width: auto;
}

footer .container .piedlogo {
  font-family: "Shrikhand", cursive;
  font-size: 14px;
  margin-left: 1rem;
  font-weight: 100;
}

footer .container .pied {
  background-color: #251f1f;
  top: 2rem;
  left: 2rem;
  font-family: "Shrikhand", cursive;
  position: relative;
  height: 200px;
  width: 400px;
  color: #fff;
}

footer .container .pied-proposer {
  position: absolute;
  left: 2rem;
  top: 3rem;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .container .pied-proposer > i.fas {
  position: absolute;
  top: 0rem;
  left: -1rem;
}

footer .container .pied-proposer-partenaire {
  position: absolute;
  top: 5rem;
  left: 2.5rem;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .container .pied-proposer-partenaire > i.fa {
  position: absolute;
  top: 0rem;
  left: -1.5rem;
  transform: rotate(-45deg);
}

footer .container .pied-proposer-partenaire-legale {
  position: absolute;
  top: 7rem;
  left: 1rem;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .container .pied-proposer-partenaire-legale-contact {
  position: absolute;
  top: 9rem;
  left: 1rem;
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

body, html {
  margin: 0;
  padding-right: 2rem;
  box-sizing: border-box;
}

h2 {
  font-family: "roboto", sans-serif;
  font-size: 18px;
}

p {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black;
}

header {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerlogo {
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  text-align: center;
  margin-left: -1rem;
}

.paris {
  font-size: 13px;
  position: absolute;
  left: 7.5rem;
}

.siteheader {
  background-color: #ece6e64f;
  height: 400px;
  width: 300px;
  text-align: center;
}

.siteheader-ville {
  background-color: #eae7e7;
  height: 40px;
  width: 300px;
  position: relative;
  font-family: "roboto", sans-serif;
  font-size: 13px;
}

.siteheader-ville > i.fas {
  position: absolute;
  left: 6rem;
  top: 0.8rem;
}

.siteheader-ville-titre {
  align-items: center;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  line-height: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.siteheader-ville-titre-titre2 {
  font-family: "roboto", sans-serif;
  font-size: 12px;
  line-height: 1rem;
  margin-left: 2rem;
}

.siteheader-ville-titre-titre2 > button {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 20px;
  background-color: #bd44cc;
}

.siteheader-ville-titre-titre2 > button.headerexplorer {
  color: #fff;
}

button i {
  position: absolute;
  left: 2rem;
  top: 0.5em;
  color: #9356DC;
}

.choix {
  text-align: center;
}

.choix-restaurant {
  margin-bottom: 1rem;
  height: 42px;
  width: 250px;
  border: none;
  border-radius: 15px;
  position: relative;
  padding-left: 2rem;
}

.choix-restaurant .numberCircle {
  font: 32px "roboto", sans-serif, sans-serif;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: #9356DC;
  border: 0.1em solid;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  position: absolute;
  left: -1rem;
  top: 0.4em;
}

.choix-restaurant-menu {
  margin-bottom: 1rem;
  height: 42px;
  width: 250px;
  border: none;
  border-radius: 15px;
  position: relative;
  padding-left: 2rem;
}

.choix-restaurant-menu .numberCircle {
  font: 32px "roboto", sans-serif, sans-serif;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: #9356DC;
  border: 0.1em solid;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  position: absolute;
  left: -1rem;
  top: 0.4em;
}

.choix-restaurant-menu-deguste {
  margin-bottom: 1rem;
  height: 42px;
  width: 250px;
  border: none;
  border-radius: 15px;
  position: relative;
  padding-left: 2rem;
  background-color: #f4eefc;
}

.choix-restaurant-menu-deguste .numberCircle {
  font: 32px "roboto", sans-serif, sans-serif;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: #9356DC;
  border: 0.1em solid;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  position: absolute;
  left: -1rem;
  top: 0.4em;
}

.choixlabel {
  margin-right: 10rem;
}

.restolabel {
  margin-right: 13rem;
  margin-bottom: -1rem;
}

.restaurant {
  position: relative;
  margin-left: 2rem;
}

.restaurant-pallette {
  margin-bottom: 1rem;
  background-color: #fff;
  margin-top: 25px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  padding: 3px;
  position: relative;
}

.restaurant-pallette i.far {
  position: absolute;
  left: 16rem;
  bottom: 2rem;
  color: black;
}

.restaurant-pallette-charonne {
  margin-bottom: 1rem;
  background-color: #fff;
  margin-top: 25px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  padding: 3px;
  position: relative;
}

.restaurant-pallette-charonne i.far {
  position: absolute;
  left: 16rem;
  bottom: 2rem;
  color: black;
}

.restaurant-pallette-charonne-cite {
  background-color: #fff;
  margin-top: 25px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  padding: 3px;
  position: relative;
}

.restaurant-pallette-charonne-cite i.far {
  position: absolute;
  left: 16rem;
  bottom: 2rem;
  color: black;
}

.restaurant-pallette-charonne-cite-folie {
  background-color: #fff;
  margin-top: 25px;
  height: 250px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  padding: 3px;
  position: relative;
}

.restaurant-pallette-charonne-cite-folie i.far {
  position: absolute;
  left: 16rem;
  bottom: 2rem;
  color: black;
}

a:link {
  text-decoration: none;
}

.text {
  color: black;
}

.menu img {
  object-fit: cover;
  height: 70%;
  width: 300px;
  border-radius: 15px;
}

.resto {
  font-family: "roboto", sans-serif;
  margin-top: -0.5rem;
}

.button-nouveau {
  position: absolute;
  background-color: #99E2D0;
  top: 1rem;
  right: 1rem;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: #45675e;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */