
@import './_variables';
@import './_mixins';
@import './_placeholders';
@import'./animation';

body,html{
width: 100vw;
height: 100vh;
margin-left: 0rem;

}
.acceuil{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

}
.loader{
    @extend %flash-loader;
}
.loader-logo h1{
    font-family: $titre;
    font-size: 30px;
}

a{
    text-decoration: none;
}
h2{
@extend %titre2;

}
p {
    
@extend %paragraphe;
}
header{

@extend %flex-center;
    
}
.headerlogo{
@extend %titre-logo;

}

 //  ===========  EN TÊTE DE LA PAGE D' ACCEUIL  =============

.siteheader{
    background-color:$fond-clair;
    height: auto;
    width: 100vw;
    text-align: center;
    padding-bottom: 1rem;

.ville{
        background:$fond-sombre;       
        font-family: $texte;
        width: auto;
        @extend %flex-row-center;
    }
.ville p{
    margin-top: 1rem;
    margin-left: 1rem;
}
.ville i.fas{
    margin-left: 1rem;
}

    
    button{
        height: 40px;
        width: 12rem;
        border: none;
        border-radius: 20px;
        background: $degrader;
    }
 

.headerexplorer{
         color: #fff;
}
}

button i{
    position: absolute;
    left: 2rem;
    top: 0.9rem;
    color: $primaire;
          
}
button:hover{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    opacity: 0.7;
}


//  ======== CHOIX DES RESTAURANTS  ==============
.choix{
    text-align: center;
    padding: 0 2rem;
    h2 {
        text-align: left;
    }
}
.choix-restaurant{
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.5);
    margin-bottom: 1rem;
    @include button;
}
      .choix-restaurant:hover{
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
        background-color: $light;
      }
      .choix-restaurant h2{
          font-size: 13px;
      }
      .choix-restaurant i.fas{
        color:$primaire;
        margin-right: 0.5rem;
    }
.restolabel{
    align-self: flex-start;
}

.restaurant{
    background-color:$fond-clair;
    @extend %flex-center;
    position: relative;
    padding: 2rem;
}
.fonction h2{
    margin-left: 1rem;
}

//  ========== IMAGES DES RESTAURANTS A L'ACCEUIL  ===========

.restaurant-box {
    display: flex;
    justify-content: center;
   
    background-color: #fff;
    margin: 2rem 0rem 0 0;
    height:250px;
    width:100%;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    transition: box-shadow 0.2s;
    position: relative;
    border-radius: 15px;

    .resto{
        font-family: $texte;
        margin-top: -0.5rem;
    }
                       
        img{
        object-fit: cover;
        height: 70%;
        width: 100%;
            
        border-radius: 15px 15px 0 0;
    }
    i.fa-heart{
        margin: 1rem -2rem 0 0;
       
        color: black;
        @include heart-animation;   
    
        }
        .resto-name{
            display: flex;
            justify-content:space-around;
            line-height: 0.5rem;
            margin-left: -2.5rem;
            
        }
        .text{
            font-family: $texte;
            font-weight: bold;
            color: black;
        }
    
.nouveau{
    position: absolute;
    background-color: $tertiaire;
    top: 2rem; 
    right: 1rem;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-family: $texte;
    font-size: 15px;
    color: #45675e;
    font-weight: bold;
  h2{
     text-align: center;
     margin-top:0.6rem;
  }
 }
}

// ====  PIED DE PAGES ==================

footer{
    @include pied-page;
}
    

//  ==== REMPLISSAGE DU  COEUR AU PASAGE DU SOURIS  ====

.fa-heart{
    position: relative;
    border-radius: 50%;
    font-size: 24px;
}
    .fa-heart::after {
        color:transparent;
        content: "\f004";
        font-weight: bold;
        transition: color 1s ease-out;
        position: absolute;
        font-size: 30px;
        top: -0.1em;
        right: -0.1em;
    }
        .fa-heart:hover::after{
        color:$primaire;
        cursor: pointer;
        }
        //  POUR LES TABLETTES

        @media screen and (min-width: 576px) {
            main {
                font-size: 16px;
                .choix{
                    
                                    
                   margin-left: 12rem;
                  
                }
                .choix-restaurant{
                    margin-left: 3rem;
                    width: 180px;
                    margin-top: 2rem;
                    margin-right: 5rem;
                }
                .fonction{
                   margin-left: 20.5rem; 
                }    
                
                  .restaurant{
                    display: flex;
                    flex-direction: row;
                    flex-wrap:wrap;
                    flex-grow: 1;
                    margin-left: 0rem;
                }
                .restolabel {
                    position: absolute;
                    font-size: 22px;
                    top: 0rem;
                }
                
                .restaurant-box {
                width: auto;
                margin:1rem 0rem 0rem 2rem;

                }
                .restaurant-box i.fa-heart {
                    position: absolute;
                    left: 34rem;
                }
            }
        }

            
            
            @media screen and (min-width: 769px)   {
                main {
                font-size: 16px;
                .choix{
                    
                   display: inline-flex;                 
                   margin-left: 2rem;
                  
                }
                .choix-restaurant{
                    margin-left: 1rem;
                    width: 180px;
                    margin-top: 2rem;
                    margin-right: 5rem;
                }
                .fonction{
                  margin-left:27rem;
                }    
                
                  .restaurant{
                    display: flex;
                    flex-direction: row;
                    flex-wrap:wrap;
                    flex-grow: 1;
                    margin-left: 0rem;
                }
                .restolabel {
                    position: absolute;
                    font-size: 22px;
                    top: 0rem;
                }
                
                .restaurant-box {
                margin:1rem 3rem 0rem 2rem;

                }
                .restaurant-box i.fa-heart{
                    left: 50rem;
                }
                .text{
                    margin-right: 30rem;
                }
            }
        }

       
            @media screen and (min-width: 1200px){
                body,html {
                    font-size: 24px;
                    height: 100vh;
                }
                .choix{
                    padding-left: 6rem;
                    
                }
               .choix-restaurant{
                   margin-right: 5rem;
                   width: 250px;
               } 
               .restaurant{
                   
                   background-color: $fond-clair;
                   margin-left: 0rem;
               }
               .restaurant-box{
                   margin-left: 0rem;
               }
               .fonction h2{
                   margin-left: 0rem;
                   
               }
            }

//  === LOADING  SPINNER  ===========

