p {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: black;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.headerlogo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  text-align: center;
  left: 12rem;
}

header, .restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siteheader .ville {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .piedlogo {
  font-family: "Shrikhand", cursive;
  font-size: 14px;
  margin-top: 0;
  font-weight: 100;
}

footer .pied {
  background-color: #251f1f;
  font-family: "roboto", sans-serif;
  position: relative;
  height: 80%;
  width: 100%;
  color: #fff;
  padding: 0rem;
  text-align: center;
}

footer .proposer {
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .partenaire {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer i.fa {
  transform: rotate(-45deg);
}

footer .legale {
  color: #fff;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer .contact {
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.siteheader {
  background-color: #ece6e64f;
  height: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.siteheader .ville {
  background: #bdb8b84f;
  font-family: "roboto", sans-serif;
  width: auto;
}

.siteheader .ville p {
  margin-top: 1rem;
  margin-left: 1rem;
}

.siteheader .ville i.fas {
  margin-left: 1rem;
}

.siteheader button {
  height: 40px;
  width: 12rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(#ea6fa2b5, #9356DC);
}

.siteheader .headerexplorer {
  color: #fff;
}

button i {
  position: absolute;
  left: 2rem;
  top: 0.9rem;
  color: #9356DC;
}

button:hover {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.choix {
  text-align: center;
  padding: 0 2rem;
}

.choix h2 {
  text-align: left;
}

.choix-restaurant {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  height: 48px;
  border: none;
  border-radius: 20px;
  padding-left: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.choix-restaurant .numberCircle {
  font: 16px "roboto", sans-serif;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  background: #9356DC;
  border: 0.1em solid;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  box-sizing: content-box;
  position: absolute;
  left: -1rem;
  top: 0.5em;
}

.choix-restaurant:hover {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #e4d5f6;
}

.choix-restaurant h2 {
  font-size: 13px;
}

.choix-restaurant i.fas {
  color: #9356DC;
  margin-right: 0.5rem;
}

.restolabel {
  align-self: flex-start;
}

.restaurant {
  background-color: #ece6e64f;
  position: relative;
  padding: 2rem;
}

.restaurant-box {
  background-color: #fff;
  margin-top: 2rem;
  margin-left: 0rem;
  height: 250px;
  width: 300px;
  box-shadow: 0 0 6px 3px #b1b1b14b;
  transition: box-shadow 0.2s;
  position: relative;
  border-radius: 15px;
}

.restaurant-box .resto {
  font-family: "roboto", sans-serif;
  margin-top: -0.5rem;
}

.restaurant-box img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  position: absolute;
  border-radius: 15px 15px 0 0;
}

.restaurant-box i.fa-heart {
  position: absolute;
  left: 16rem;
  bottom: 1.5rem;
  color: black;
}

.restaurant-box i.fa-heart .fa-heart {
  position: relative;
  border-radius: 50%;
  font-size: 24px;
}

.restaurant-box i.fa-heart .fa-heart::after {
  color: transparent;
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
  position: absolute;
  font-size: 30px;
  top: -0.1em;
  right: -0.1em;
}

.restaurant-box i.fa-heart .fa-heart:hover::after {
  color: #ff79da;
  cursor: pointer;
}

.restaurant-box .text {
  position: absolute;
  top: 11rem;
  left: 1rem;
  color: black;
}

.restaurant-box .resto-name {
  position: absolute;
  top: 12.5rem;
  left: 1rem;
}

.restaurant-box .nouveau {
  position: absolute;
  background-color: #99E2D0;
  top: 2rem;
  right: 1rem;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  color: #45675e;
  font-weight: bold;
}

.restaurant-box .nouveau h2 {
  text-align: center;
  margin-top: 0.6rem;
}

.fa-heart {
  position: relative;
  border-radius: 50%;
  font-size: 24px;
}

.fa-heart::after {
  color: transparent;
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
  position: absolute;
  font-size: 30px;
  top: -0.1em;
  right: -0.1em;
}

.fa-heart:hover::after {
  color: #ff79da;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  main {
    font-size: 16px;
  }
  main .choix {
    margin-left: 12rem;
  }
  main .choix-restaurant {
    margin-left: 3rem;
    width: 180px;
    margin-top: 2rem;
    margin-right: 5rem;
  }
  main .fonction {
    position: absolute;
    top: 15rem;
    left: 20rem;
  }
  main .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 0rem;
  }
  main .restolabel {
    position: absolute;
    font-size: 22px;
    top: 0rem;
  }
  main .restaurant-box {
    width: 618px;
    margin: 1rem 0rem 0rem 2rem;
  }
  main .restaurant-box i.fa-heart {
    position: absolute;
    left: 34rem;
  }
}

@media screen and (min-width: 769px) {
  main {
    font-size: 16px;
  }
  main .choix {
    display: inline-flex;
    margin-left: 0rem;
  }
  main .choix-restaurant {
    margin-left: 3rem;
    width: 180px;
    margin-top: 2rem;
    margin-right: 5rem;
  }
  main .fonction {
    position: absolute;
    top: 15rem;
    left: 28rem;
  }
  main .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 0rem;
  }
  main .restolabel {
    position: absolute;
    font-size: 22px;
    top: 0rem;
  }
  main .restaurant-box {
    margin: 1rem 3rem 0rem 2rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .choix {
    display: flex;
    flex-direction: row;
    padding-left: 15rem;
  }
  .choix-restaurant {
    width: 250px;
  }
  .restaurant {
    padding-left: -10rem;
    background-color: #ece6e64f;
    margin-left: 0rem;
  }
  .restaurant-box {
    margin-left: 5rem;
  }
  .fonction {
    position: absolute;
    left: 32rem;
  }
}
/*# sourceMappingURL=styles.css.map */